/huggingface/hub/models--facebook--bart-large-mnli/.no_exist/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/chat_template.jinja
/huggingface/hub/models--facebook--bart-large-mnli/snapshots/d7645e127eaf1aefc7862fd59a17a5aa8558b8ce/model.safetensors
